<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user|signup</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
</head>
<body class="content-with-image">
<!-----the header section of the app--->
<div class="header-section">

</div>
<!---- the navigation section of the app-->
<div class="nav-section">

</div>
<!-- the main content begins here-->
<div class="main-content">
    <div class="row">
        <div class="col-6">
            <h1>

            </h1>
        </div>
        <div class="col-4">
            <div class="form-area-section">
                <h1 class="text-white text-large"> Create  an Account </h1>
                <form name="RegForms"   method="post" action="login.html">
                    <div>
                        <label for="username" class="text-white">User Name</label>
                        <input type="text" name="username" id="username" class="form-control">
                        <span id="name_error"></span>
                    </div>
                    <div>
                        <label for="useremail" class="text-white">E-mail</label>
                        <input type="email" name="useremail" id="useremail" class="form-control">
                        <span id="email_error"></span>
                    </div>
                    <div>
                        <label for="password" class="text-white">password</label>
                        <input type="password" name="userpassword" id="password" class="form-control">
                        <span id="password_error"></span>
                    </div>
                    <div>
                       <input type="submit" value="Register" name="submit" class="button-sunshine" id="submit">
                    </div>
                    <span id="errors"></span>
                    <p class="text-white"> already  have an account please <a href="login.html">sign in</a></p>
                </form>
            </div>
        </div>

    </div>
</div>
<!--- the footer section of the app--->
<div class="footer-section2">
    <div class="footer-area">

    </div>
    <div class="copy-right-area">
        <P>all rights reserved sendIT 2018</P>
    </div>
</div>
<script  src="../static/js/signup.js"></script>
</body>